{
  "appId": "be.coachdm.app",
  "appName": "Coach DM",
  "webDir": "www",
  "ios": {
    "contentInset": "automatic",
    "backgroundColor": "#050807",
    "preferredContentMode": "mobile"
  },
  "plugins": {
    "SplashScreen": {
      "launchShowDuration": 1200,
      "launchAutoHide": true,
      "backgroundColor": "#050807",
      "showSpinner": false
    },
    "StatusBar": {
      "style": "DARK",
      "backgroundColor": "#050807"
    }
  }
}
